body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 30px;
    background-image: url(img/wallpaper\ goku\ laranja.jpg);
    mask-repeat: no-repeat;

}
header{
    background-color: orange;
    color:white;
    padding: 20px 0;
    text-align: center;
}

    nav {
      background-color: rgba(0, 0, 0, 0.85);
      padding: 15px 30px;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }

    nav a {
      color: white;
      margin: 0 20px;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      transition: 0.3s;
    }

    nav a:hover {
      color: orangered;
    }

.login-box {
    background: rgba(255, 255, 255, 0.85);
    padding-left: 24px;
    padding-right: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    margin-left: 0px;
    left: 50px;
    top:120px;
    position: absolute;
}
.login-box *, .login-box *:before, .login-box *:after {
    box-sizing: border-box;
}
.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 16px;
}
.login-box form {
   display:flex;
   flex-direction: column;
   gap: 12px;
}

.login-box button:hover {
        background: #45a049;
}

.cadastro-box {
    background: rgba(255, 255, 255, 0.85);
    padding-left: 24px;
    padding-right: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    margin-left: 0px;
    left: 50px;
    top:120px;
    position: absolute;
}

.cadastro-box h2{
    margin-bottom: 20px;
}

.cadastro-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-box  button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cadastro-box  button:hover {
    background: #45a049;
}

.link-login {
    display: block;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}